/* Complete CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body,
h1,
h2,
p,
blockquote {
    margin-block-end: 0;
}

ul,
li {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

input,
button {
    font-family: inherit;
}

/* Loading Fonts */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/font/roboto-v51-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/font/roboto-v51-latin-regular.woff2') format('woff2');
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/font/roboto-v51-latin-900.woff2') format('woff2');
}

/* Global Changes w/ Root */
:root {
    /* Colors */
    --clr-dark-bg: #1f2937;
    --clr-text: rgb(249, 250, 248);
    --clr-secondary-text: rgb(229, 231, 235);
    --clr-blue: rgb(59, 130, 246);
    --clr-blue2: rgb(41, 90, 169);
    --clr-quotebox: rgb(229, 231, 235);
    --clr-quoteText: rgb(31, 41, 55);
    --clr-placeholder-img: rgb(109, 116, 125);
    --clr-white: rgb(255, 255, 255);
    --clr-black: rgb(0, 0, 0);

    /* Font */
    --FF: 'Roboto', sans-serif;

    --FW-300: 300;
    --FW-400: 400;
    --FW-900: 900;

    --FS-16: 1rem;    /* 16px */
    --FS-18: 1.1rem;  /* 18px */
    --FS-24: 1.5rem;  /* 24px */
    --FS-30: 1.875rem;/* 30px */
    --FS-36: 2.25rem; /* 36px */
    --FS-48: 3rem;    /* 48px */
}

/* Typography */
.container {
    font-family: var(--FF);
    font-size: var(--FS-16);
}

.site-title {
    font-size: var(--FS-24);
    color: var(--clr-text);
}

.navigation-items a {
    color: var(--clr-text);
}

.hero-title {
    font-size: var(--FS-48);
    font-weight: var(--FW-900);
    color: var(--clr-text);
    line-height: 1.3;
}

.hero-desc {
    font-size: var(--FS-18);
    color: var(--clr-secondary-text);
}

.hero-img {
    color: var(--clr-white);
    text-align: center;
}

.signup-btn {
    font-size: var(--FS-18);
    color: var(--clr-text);
    font-weight: var(--FW-900);
}

.page-info-subtitle {
    text-align: center;
    font-size: var(--FS-30);
}

.quote {
    font-size: var(--FS-36);
    font-weight: var(--FW-300);
    font-style: italic;
    color: var(--clr-quoteText);
}

.quote-author {
    font-size: var(--FS-24);
    font-weight: var(--FW-900);
}

/* General Styling */
.navigation-container {
    background-color: var(--clr-dark-bg);
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
}

.site-title {
    margin-left: 80px;
    width: 30%;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-right: 120px;
}

.hero-container {
    background-color: var(--clr-dark-bg);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    gap: 20px;
    padding: 80px;
}

.hero-text-container {
    max-width: 450px;
}

.hero-title {
    margin-top: 30px;
    margin-bottom: 4px;
}

.hero-desc {
    margin-bottom: 8px;
}

.signup-btn {
    background-color: var(--clr-blue);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.signup-btn:hover,
.signup-btn:focus {
    background-color: var(--clr-blue2);
}

.hero-image-container {
    display: flex;
    align-items: center;
    padding: 40px;
}

.hero-img {
    background-color: var(--clr-placeholder-img);
    padding: 90px;
}

.page-info-subtitle {
    margin-bottom: 20px;
}

.cards {
    padding: 40px;
}

.card-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card {
    width: 18%;
}

.card-image {
    height: 120px;
    width: 120px;
    border: 3px solid var(--clr-blue);
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 4px;
}

.card-text {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.quote-container {
    background-color: var(--clr-quotebox);
    padding: 100px;
}

.quote {
    width: 800px;
    margin: 0 auto;
}

.quote-author {
    margin-left: 750px;
}